# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Text files: force them to be committed as native line ending (LF/Unix)
*.asax text
*.ashx text
*.aspx text
*.bat text eol=crlf
*.config text
*.cs text
*.cshtml text
*.csproj text
*.css eol=lf
*.d.ts eol=lf
*.htm text
*.html eol=lf
*.js eol=lf
*.jsb text
*.json text
*.log eol=lf
*.md text
*.php text
*.ps1 text
*.py text
*.sln text
*.sql text
*.svg eol=lf
*.target text
*.txt eol=lf
*.xml text

# These are expected to be always treated as binary files.
*.bmp binary
*.dat binary
*.dll binary
*.eot binary
*.exe binary
*.ico binary
*.jar binary
*.jpg binary
*.png binary
*.ttf binary
*.woff binary
*.woff2 binary

# Instruct GitHub linguist to ignore some folders
Tests/Runner/* linguist-vendored
Bridge/Resources/* linguist-vendored
Compiler/TranslatorTests/TestProjects/*/Bridge/reference/* linguist-vendored
Tests/TypeScript/Batch1/* linguist-vendored

linguist-language=csharp
*.cs     diff=csharp
